
{% block title %}BrokegAss Application{% endblock %}

 {% block content %}

{% block content %}


 <form action ="{{url_for('index')}}>", method = "POST">
      <!-- First name input --> 
      
      
      <!-- Last name input -->


      <!-- Telephone number input -->   
      <div class="form-group row">
        <label for="example-tel-input" class="col-2 col-form-label">Telephone</label>
        <div class="col-10">
          <input class="form-control" type="tel" value="1-(000)-000-0000" id="example-tel-input">
        </div>
      </div>
      <!-- Gas type input -->
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary">Regular</button>
        <button type="button" class="btn btn-secondary">Mid-Grade</button>
        <button type="button" class="btn btn-secondary">Premium</button>
      </div>
      <!-- Payment type input -->
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary">Cash</button>
        <button type="button" class="btn btn-secondary">Credit</button>
        <button type="button" class="btn btn-secondary">Cash/Credit</button>
      </div>
      <!-- Color of preview examples -->
      <div class="form-group row">
        <label for="example-color-input" class="col-2 col-form-label">Color</label>
        <div class="col-10">
          <input class="form-control" type="color" value="#563d7c" id="example-color-input">
        </div>
        </div>
     </div>
    <form>
</html>
<div>

{%  %}