<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>BROKEGASS</title>
  <meta name="description" content="BROKEGASS">
  <meta name="author" content="SitePoint">

</head>

<body> 

  <h1 style = font-size:40px>BrokeGass Signup</h1>

  <p style = font-size:20px>Fill out the application below in order to receive texts on cheap gas near you!</p>
  <form method="POST" action="/" span class="border border-3"></span>

    <!-- Telephone number input -->
    <div class="form-group row">
      <label for="example-tel-input" style="font-size:20px"  style="line-height:3" class="1h-lg">Phone Number</label>
      <div class="col-10"></div>
      {{ form.phone_number }}
      </div>
    </div>
    <!-- Gas type input -->
    <div class="form-group row">
      <label for="example-tel-input" style="font-size:20px"  style="line-height:3" class="1h-lg">Gas Type (Regular, Mid-Grade, Premium, or Diesel)</label>
      <div class="col-10"></div>
      {{ form.fuel_type }}
      </div>
    </div>
    <!-- Zip Code -->
    <div class="form-group row">
      <label for="example-tel-input" style="font-size:20px"  style="line-height:3" class="1h-lg">Zip Code</label>
      <div class="col-10"></div>
      {{ form.zip_code }}
      </div>
    </div>
    <!-- Submit Button -->
    <div class="col-12">
      {{ form.submit() }}
    </div>

  <form>
 
</body>
</html>